SECRET_KEY=your_secure_secret_key_that_is_at_least_32_characters_long
DJANGO_SETTINGS_MODULE=config.settings.dev

# Database
DATABASE_URL=postgres://user:password@localhost:5432/kick360

# Redis
REDIS_URL=redis://127.0.0.1:6379/1

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_STORAGE_BUCKET_NAME=your_bucket_name
AWS_S3_REGION_NAME=us-east-1

# Shopify API
SHOPIFY_API_URL=https://your-store.myshopify.com/admin/api/2024-01/
SHOPIFY_API_TOKEN=your_shopify_access_token

# Hosts
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000
